<!DOCTYPE html>
<html>
<head>
  <title>Sygiops support</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "sygiops_support/application", media: "all" %>
  <%= javascript_include_tag "sygiops_support/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
